* {
  margin: 0;
  padding: 0;
}

body{
    background-image: linear-gradient(to right, #b17d45, #ff9500);
    font-family: Arial, Helvetica, sans-serif;
}

#seleccionado {
  color:red
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 1px white;
}

#botones {
  margin: 0 auto;
  width: 100vh;
  display: flex;
  justify-content: space-around;
}

button {
 width: 15em;
 border-radius: 3em;
 box-shadow: 2px 2px 2px black;
 background-color:#ff8502;
 height: 10em;
}

button h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  cursor:pointer;
}
button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture {
  width: 700vw;
  height: 63vh;
  display: block;
}


@keyframes entrar {
  from {
      margin-top: 55em;  
  }

  to {
      margin-top: 1.5em;
  }
}
#caracteristicas {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1.5em;
  margin-left: 1em;
  animation-duration: 1s;
  animation-name: entrar;
}

h2 {
  color:black;
  -webkit-text-stroke: 0.5px white;
  font-size: 1.72em;
}

@media screen and (orientation:portrait) and (min-width:601px) {
  #botones {
    width:5em;
    gap: 4em;
    height: 2.5em;
  }

  h2 {
    font-size: large;
    position: absolute;
    padding-top: 5em;
  }
  img {
    position:absolute;
    top:0;
    left:0;    
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 15%;
    opacity: 0.5;
    z-index: -1;
  }
}

@media screen and (orientation:portrait) and (max-width:600px) {
  #botones {
    width:4em;
    gap: 3em;
    height: 1.5em;
  }

  h2 {
    font-size: medium;
    position: absolute;
    padding-top: 5em;
  }
  img {
    position:absolute;
    top:0;
    left:0;    
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 15%;
    opacity: 0.5;
    z-index: -1;
  }
} 

